.module1-container{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 100%;
    max-width: 100%;
    padding: 5% 0;
    background-color: grey;
    overflow: auto;
}

.module-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    max-height: 100%;
    max-width: 100%;
    padding: 5% 0;
    background-color: grey;
}