.module-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    max-height: 100%;
    max-width: 100%;
    padding: 5%;
    background-color: #C7CAD1;
}

@media screen and (max-width:1000px){
    .module-container{
        display: flex;
        flex-wrap: wrap;
    }
}