.module{
    width: 400px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    position: relative;transition: 250ms linear;
}

@media screen and (max-width:600px) {
    .module{
        transform: scale(0.9);
    }
}

.module img{
    max-width:100%;
    border-radius: 0 0 5px 5px;
    
}

.module:hover{
    transform: scale(1.15);
}

.title-container{
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.title-container span{
    display: inline-block;
    padding: 10px 0;
}

.horizontal-bar{
    width: 100%;
    height: 42px;
    border-radius: 5px 5px 0 0;
    background: rgb(155, 155, 155);
    pointer-events: none;
}
 
.img-asset{
    position:relative;
}

.module-image{
    
    position: absolute;
} 

.module-gif:hover{
    opacity: 1;
    position: relative;
}