.nav-bar{
    height: 70px;
    width:100%;
    max-width: 100%;
    display: flex;
    background-color: rgb(30, 30, 30);
    color: white;
    align-items: center;
    flex: 1;
}

.vertical-bar{
    height: 100%;
    width: 1px;
    max-height: 100%;
    background-color: rgb(61, 61, 61);
}

.link-component, .main{
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
.mobile-menu{
    opacity: 0;
 }

@media screen and (max-width:600px) {
    .nav-bar{
        position: sticky;
        display: flex;
        top:0;
        flex-direction: column;
        
    }

    .main{
        margin: 0;
        font-size:0.75em;
        justify-content: flex-start;
        width: 100%;
    }

    .main h1{
        padding: 20px;
    }

    .link-component{
        display: none;
        background-color: grey;
        width: 100%;
    }

    .mobile-menu{
       opacity: 1;
       position: absolute;
       top: 0;
       right: 0;
       padding: 25px;
    }

    h4{
        color: white;
        text-align: center;
    }
}